.editButton {
  padding: 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  height: 100%;
  color: var(--accent-12);
  background-color: transparent;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation), text-decoration var(--animation);
}

.editButton:hover {
  color: var(--main-white-color);
  background-color: black;
  text-decoration: none;
}
