.productBox {
  border: 1px solid transparent;
  max-width: calc((100% - 12px) / 4);
}

.productBox:hover {
  border: 1px solid var(--accent-12);
}

.productName {
  text-transform: uppercase;
}

.productOptions {
  color: var(--accent-10);
}
