.optionWrapper {
  width: 724px;
}

.deliveryOptionDescription {
  margin-top: 38px;
}

.messageWrapper {
  padding: 20px;
  margin-top: 20px;
  background-color: var(--accent-3);
}

.noDeliveryMessage {
  font-weight: 700;
}
