.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  opacity: 0;
}

.openedModalContainer {
  opacity: 1;
}

.closedModalContainer {
  opacity: 0;
  display: none;
}

.modalContent {
  position: relative;
  width: 718px;
  height: auto;
  padding: 20px 35px 35px 35px;
  max-height: 700px;
  max-width: 1200px;
  outline: transparent;
  outline-offset: 4px;
  background-color: var(--main-white-color);
}

.closeButton {
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 0;
  border: solid 1px var(--gray-12);
  color: var(--gray-12);
  background-color: var(--main-white-color);
  cursor: pointer;
  position: absolute;
  top: -22px;
  right: -22px;
}
