.productBox {
  max-width: 728px;
  border: 1px solid var(--accent-12);
  position: relative;
}

.productName,
.sizeProduct {
  text-transform: uppercase;
}

.productOptions {
  color: var(--accent-10);
}
