.header {
  max-width: 100%;
  background-color: var(--main-white-color);
  position: sticky;
  top: 0px;
  z-index: 999;
}

.navContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  border-bottom: solid 1px var(--accent-5);
}
