.barContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 784px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
