.sliderContainer {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.mainImage {
  width: 100%;
  cursor: cell;
}

.mySwiper {
  width: 70%;
  margin-top: -75px;
  box-sizing: border-box;
}

.accountSliderContainer {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.mySwiper2 {
  width: 100%;
  box-sizing: border-box;
}

.secondaryImage {
  width: 100%;
  border: solid 1px var(--accent-9);
  cursor: pointer;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  border-bottom: solid 2px var(--accent-12);
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
  color: var(--accent-12);
  transition: color var(--animation);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--main-white-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  background-color: var(--main-black-color);
  border-color: var(--main-black-color);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .sliderContainer {
    width: 50%;
    height: auto;
    margin-bottom: 0;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px;
    padding: 10px 14px;
    border: solid 1px var(--accent-9);
    background-color: var(--main-white-color);
    transition: background-color var(--animation);
    display: block;
  }
}
