.footer {
  background-color: var(--accent-12);
  padding: 28px 16px;
}

.footerContainer {
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: var(--accent-12);
    padding: 28px 40px;
  }

  .footerContainer {
    text-align: start;
  }
}
