.inputWrapper {
  position: relative;
  width: 352px;
}

.textField {
  height: 50px;
  background: transparent;
  border: 1px solid var(--accent-12);
  outline: transparent;
  outline-offset: 4px;
  box-shadow: none;
  width: 352px;
  transition: border 0.15s linear;
}

.inputPhone {
  all: unset;
  height: 50px;
  background: transparent;
  border: 1px solid var(--accent-12);
  outline: transparent;
  outline-offset: 4px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0 12px;
  width: 352px;
  transition: border 0.15s linear;
}

.inputError {
  border-bottom: 2px solid #e32b2b;
}

.inputSuccess {
  border-bottom: 2px solid #00aa55;
}
