/* reset */
button {
  all: unset;
}

.selectColorForm {
  margin-bottom: 30px;
}

.RadioGroupRoot {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .selectColorForm {
    margin-bottom: 10px;
  }
}
