.RadioInputContainer {
  display: flex;
  align-items: center;
}

.RadioGroupItem {
  width: 36px;
  height: 36px;
  border: solid 1px var(--accent-11);
  cursor: pointer;
  transition: transform var(--animation);
  position: relative;
}

.RadioGroupItem:hover::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -3px;
  width: 38px;
  height: 2px;
  background-color: var(--accent-12);
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.RadioGroupIndicator::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -3px;
  width: 38px;
  height: 2px;
  background-color: var(--accent-12);
}

.RadioGroupItem[value="white"] {
  background-color: #e5e5e5;
}

.RadioGroupItem[value="blue"] {
  background-color: #4e698e;
}

.RadioGroupItem[value="green"] {
  background-color: #9fae94;
}
